#e50_79 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}#e50_81 { 
	width:651px;
	height:566px;
	position:absolute;
	left:720px;
	top:229px;
}#e50_82 { 
	width:651.447265625px;
	height:565.7949829101562px;
	position:absolute;
	left:0.180287703871727px;
	top:0px;
}#e50_83 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 66.00000366568565, 255, 1) 0%,rgba(119.00000050663948, 193.00000369548798, 255, 1) 100%) ;
	width:83.7258529663086px;
	height:81.77455139160156px;
	position:absolute;
	left:79.48423767089844px;
	top:166.8819580078125px;
}#e50_84 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 66.00000366568565, 255, 1) 0%,rgba(119.00000050663948, 193.00000369548798, 255, 1) 100%) ;
	width:149.15548706054688px;
	height:129.4979248046875px;
	position:absolute;
	left:436.7895202636719px;
	top:53.303977966308594px;
}#e50_85 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 66.00000366568565, 255, 1) 0%,rgba(119.00000050663948, 193.00000369548798, 255, 1) 100%) ;
	width:603.080078125px;
	height:509.56512451171875px;
	position:absolute;
	left:31.639211654663086px;
	top:12.171202659606934px;
}#e50_86 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 66.00000366568565, 255, 1) 0%,rgba(119.00000050663948, 193.00000369548798, 255, 1) 100%) ;
	opacity:0.20000000298023224;
	width:651.447265625px;
	height:420.8937683105469px;
	position:absolute;
	left:0px;
	top:100.84268951416016px;
}#e50_87 { 
	border:1px solid rgba(29.000000171363354, 36.00000165402889, 76.0000030696392, 1);
	width:576.52978515625px;
	height:0px;
	position:absolute;
	left:44.829158782958984px;
	top:521.7363891601562px;
}#e50_88 { 
	width:565.1050415039062px;
	height:300.66802978515625px;
	position:absolute;
	left:50.54167556762695px;
	top:265.126953125px;
}#e50_89 { 
	width:137.74398803710938px;
	height:270.82000732421875px;
	position:absolute;
	left:55.81269836425781px;
	top:0px;
}#e50_90 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 61.00000016391277, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:137.74398803710938px;
	height:269.314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_91 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(181.0000044107437, 255, 255, 1) 100%) ;
	width:117.11628723144531px;
	height:266.0108642578125px;
	position:absolute;
	left:9.262442588806152px;
	top:4.80914306640625px;
}#e50_92 { 
	width:565.1050415039062px;
	height:194.8873291015625px;
	position:absolute;
	left:-0.000001296401023864746px;
	top:105.78070068359375px;
}#e50_93 { 
	width:160.8223876953125px;
	height:194.8873291015625px;
	position:absolute;
	left:404.2826232910156px;
	top:0px;
}#e50_94 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:160.8223876953125px;
	height:169.6817626953125px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_95 { 
	width:59.19659423828125px;
	height:178.41836547851562px;
	position:absolute;
	left:2.4550094604492188px;
	top:16.468963623046875px;
}#e50_96 { 
	width:59.19659423828125px;
	height:178.41836547851562px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_97 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(181.0000044107437, 255, 255, 1) 100%) ;
	width:59.19659423828125px;
	height:178.41836547851562px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_98 { 
	width:100.2603759765625px;
	height:125.15225219726562px;
	position:absolute;
	left:2.3726119995117188px;
	top:69.15731811523438px;
}#e50_99 { 
	width:100.2603759765625px;
	height:125.15225219726562px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_100 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(181.0000044107437, 255, 255, 1) 100%) ;
	width:100.2603759765625px;
	height:125.15225219726562px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_101 { 
	width:140.08676147460938px;
	height:78.55661010742188px;
	position:absolute;
	left:2.7527694702148438px;
	top:115.99172973632812px;
}#e50_102 { 
	width:140.08676147460938px;
	height:78.55661010742188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_103 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(181.0000044107437, 255, 255, 1) 100%) ;
	width:140.08676147460938px;
	height:78.55661010742188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_104 { 
	width:160.82241821289062px;
	height:194.74578857421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_105 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:160.82241821289062px;
	height:169.6817626953125px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_106 { 
	width:59.00494384765625px;
	height:178.27682495117188px;
	position:absolute;
	left:98.95319366455078px;
	top:16.468963623046875px;
}#e50_107 { 
	width:59.00494384765625px;
	height:178.27682495117188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_108 { 
	background-image:linear-gradient(0deg, rgba(181.0000044107437, 255, 255, 1) 0%,rgba(119.00000050663948, 144.00000661611557, 255, 1) 100%) ;
	width:59.00494384765625px;
	height:178.27682495117188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_109 { 
	width:99.95060729980469px;
	height:125.10305786132812px;
	position:absolute;
	left:58.007530212402344px;
	top:69.33932495117188px;
}#e50_110 { 
	width:99.95060729980469px;
	height:125.10305786132812px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_111 { 
	background-image:linear-gradient(0deg, rgba(181.0000044107437, 255, 255, 1) 0%,rgba(119.00000050663948, 144.00000661611557, 255, 1) 100%) ;
	width:99.95060729980469px;
	height:125.10305786132812px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_112 { 
	width:140.08685302734375px;
	height:78.39254760742188px;
	position:absolute;
	left:17.982879638671875px;
	top:115.99172973632812px;
}#e50_113 { 
	width:140.08685302734375px;
	height:78.39254760742188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_114 { 
	background-image:linear-gradient(0deg, rgba(181.0000044107437, 255, 255, 1) 0%,rgba(119.00000050663948, 144.00000661611557, 255, 1) 100%) ;
	width:140.08685302734375px;
	height:78.39254760742188px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_115 { 
	width:145.6312713623047px;
	height:179.16824340820312px;
	position:absolute;
	left:29.119863510131836px;
	top:67.6695556640625px;
}#e50_116 { 
	width:145.6312713623047px;
	height:179.16824340820312px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_117 { 
	width:109.72942352294922px;
	height:121.04373168945312px;
	position:absolute;
	left:35.901832580566406px;
	top:58.12451171875px;
}#e50_118 { 
	width:109.72942352294922px;
	height:121.04373168945312px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_119 { 
	background-image:linear-gradient(0deg, rgba(181.0000044107437, 255, 255, 1) 0%,rgba(119.00000050663948, 144.00000661611557, 255, 1) 100%) ;
	width:109.72942352294922px;
	height:121.04373168945312px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_120 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:38.00110626220703px;
	height:51.903778076171875px;
	position:absolute;
	left:6.109476089477539e-7px;
	top:11.691009521484375px;
}#e50_121 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:20.504127502441406px;
	height:63.52642822265625px;
	position:absolute;
	left:32.602821350097656px;
	top:0px;
}#e50_122 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:24.879295349121094px;
	height:50.295745849609375px;
	position:absolute;
	left:17.125701904296875px;
	top:3.405426025390625px;
}#e50_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.812461853027344px;
	height:5.822021484375px;
	position:absolute;
	left:29.48554229736328px;
	top:13.602264404296875px;
}#e50_124 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.641632080078125px;
	height:5.65087890625px;
	position:absolute;
	left:12.47103214263916px;
	top:13.773406982421875px;
}#e50_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.6416015625px;
	height:5.822021484375px;
	position:absolute;
	left:26.792266845703125px;
	top:2.94622802734375px;
}#e50_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.5790786743164062px;
	height:3.4073486328125px;
	position:absolute;
	left:12.185944557189941px;
	top:9.15728759765625px;
}#e50_127 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.4017791748046875px;
	height:3.30792236328125px;
	position:absolute;
	left:35.27745819091797px;
	top:8.437042236328125px;
}#e50_128 { 
	width:145.22210693359375px;
	height:179.15740966796875px;
	position:absolute;
	left:394.8549499511719px;
	top:51.68548583984375px;
}#e50_129 { 
	width:145.22210693359375px;
	height:179.15740966796875px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_130 { 
	width:109.72174072265625px;
	height:120.85421752929688px;
	position:absolute;
	left:-0.000008925795555114746px;
	top:58.303192138671875px;
}#e50_131 { 
	width:109.72174072265625px;
	height:120.85421752929688px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_132 { 
	background-image:linear-gradient(0deg, rgba(181.0000044107437, 255, 255, 1) 0%,rgba(119.00000050663948, 144.00000661611557, 255, 1) 100%) ;
	width:109.72174072265625px;
	height:120.85421752929688px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_133 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:38.0010986328125px;
	height:51.623931884765625px;
	position:absolute;
	left:107.22093963623047px;
	top:11.970916748046875px;
}#e50_134 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:20.50408935546875px;
	height:63.52642822265625px;
	position:absolute;
	left:92.11473846435547px;
	top:0px;
}#e50_135 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:24.8792724609375px;
	height:50.2957763671875px;
	position:absolute;
	left:103.21709442138672px;
	top:3.4053955078125px;
}#e50_136 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.6416015625px;
	height:5.650848388671875px;
	position:absolute;
	left:109.92375946044922px;
	top:13.7734375px;
}#e50_137 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.64166259765625px;
	height:5.650848388671875px;
	position:absolute;
	left:127.51842498779297px;
	top:13.7734375px;
}#e50_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.6416015625px;
	height:5.65087890625px;
	position:absolute;
	left:112.78820037841797px;
	top:3.11737060546875px;
}#e50_139 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.40179443359375px;
	height:3.40740966796875px;
	position:absolute;
	left:129.4568328857422px;
	top:9.15728759765625px;
}#e50_140 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.4017333984375px;
	height:3.4073486328125px;
	position:absolute;
	left:106.54277801513672px;
	top:8.7474365234375px;
}#e50_141 { 
	width:137.743896484375px;
	height:270.82000732421875px;
	position:absolute;
	left:357.2273254394531px;
	top:0px;
}#e50_142 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 61.00000016391277, 255, 1) 0%,rgba(119.00000050663948, 255, 255, 1) 100%) ;
	width:137.743896484375px;
	height:269.314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_143 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 144.00000661611557, 255, 1) 0%,rgba(181.0000044107437, 255, 255, 1) 100%) ;
	width:117.11636352539062px;
	height:266.0108642578125px;
	position:absolute;
	left:10.955954551696777px;
	top:4.80914306640625px;
}#e50_144 { 
	width:297.47137451171875px;
	height:521.3265380859375px;
	position:absolute;
	left:184.35833740234375px;
	top:0px;
}#e50_145 { 
	background-color:rgba(255, 255, 255, 1);
	width:270.8903503417969px;
	height:508.21142578125px;
	position:absolute;
	left:13.09351634979248px;
	top:6.557562351226807px;
}#e50_146 { 
	width:258.19036865234375px;
	height:365.5843200683594px;
	position:absolute;
	left:19.64055824279785px;
	top:36.88631057739258px;
}#e50_147 { 
	background-color:rgba(148.000006377697, 217.0000022649765, 255, 1);
	width:258.19036865234375px;
	height:365.5843200683594px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_148 { 
	width:73.65174865722656px;
	height:65.57566833496094px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_149 { 
	background-color:rgba(148.000006377697, 217.0000022649765, 255, 1);
	width:73.65174865722656px;
	height:65.57566833496094px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_150 { 
	background-color:rgba(78.00000295042992, 185.00000417232513, 244.0000006556511, 1);
	width:268.01068115234375px;
	height:90.16656494140625px;
	position:absolute;
	left:14.730219841003418px;
	top:387.7160949707031px;
}#e50_151 { 
	background-image:linear-gradient(0deg, rgba(29.000000171363354, 36.00000165402889, 76.0000030696392, 1) 0%,rgba(29.000000171363354, 36.00000165402889, 159.0000057220459, 1) 100%) ;
	width:13.0936279296875px;
	height:49.59160614013672px;
	position:absolute;
	left:284.37774658203125px;
	top:95.49456024169922px;
}#e50_152 { 
	background-image:linear-gradient(0deg, rgba(29.000000171363354, 36.00000165402889, 76.0000030696392, 1) 0%,rgba(29.000000171363354, 36.00000165402889, 159.0000057220459, 1) 100%) ;
	width:13.093658447265625px;
	height:49.59160614013672px;
	position:absolute;
	left:-0.000020369887351989746px;
	top:95.49456024169922px;
}#e50_153 { 
	background-image:linear-gradient(0deg, rgba(29.000000171363354, 36.00000165402889, 76.0000030696392, 1) 0%,rgba(29.000000171363354, 36.00000165402889, 159.0000057220459, 1) 100%) ;
	width:13.0936279296875px;
	height:49.59159851074219px;
	position:absolute;
	left:284.37774658203125px;
	top:152.87327575683594px;
}#e50_154 { 
	background-image:linear-gradient(0deg, rgba(29.000000171363354, 36.00000165402889, 159.0000057220459, 1) 0%,rgba(29.000000171363354, 36.00000165402889, 76.0000030696392, 1) 100%) ;
	width:283.97991943359375px;
	height:521.3265380859375px;
	position:absolute;
	left:6.546701908111572px;
	top:0px;
}#e50_155 { 
	width:186.58450317382812px;
	height:275.0079345703125px;
	position:absolute;
	left:55.23881149291992px;
	top:82.37942504882812px;
}#e50_156 { 
	border:0.9377999901771545px solid rgba(209.00000274181366, 84.00000259280205, 84.00000259280205, 1);
	width:59.73980712890625px;
	height:30.3287353515625px;
	position:absolute;
	left:63.83148193359375px;
	top:244.67919921875px;
}#e50_157 { 
	background-image:linear-gradient(0deg, rgba(237.0000010728836, 104.00000140070915, 59.00000028312206, 1) 0%,rgba(232.00000137090683, 62.00000010430813, 57.00000040233135, 1) 100%) ;
	width:186.58450317382812px;
	height:259.638671875px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_158 { 
	border:1.5px solid rgba(107.00000122189522, 191.00000381469727, 249.00000035762787, 1);
	width:79.7894287109375px;
	height:0px;
	position:absolute;
	left:112.93265533447266px;
	top:18.85300064086914px;
}#e50_159 { 
	opacity:0.4300000071525574;
	border:5.220300197601318px solid rgba(107.00000122189522, 191.00000381469727, 249.00000035762787, 1);
	width:60.55810546875px;
	height:0px;
	position:absolute;
	left:123.57123565673828px;
	top:497.9652404785156px;
}#e50_160 { 
	opacity:0.800000011920929;
	width:236.5042266845703px;
	height:56.55902099609375px;
	position:absolute;
	left:31.097375869750977px;
	top:402.060791015625px;
}#e50_161 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:56.46638488769531px;
	height:56.55902099609375px;
	position:absolute;
	left:0px;
	top:0px;
}#e50_162 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:172.67254638671875px;
	height:7.377288818359375px;
	position:absolute;
	left:63.83152770996094px;
	top:0px;
}#e50_163 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:172.67254638671875px;
	height:7.377288818359375px;
	position:absolute;
	left:63.83152770996094px;
	top:12.295440673828125px;
}#e50_164 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:118.25201416015625px;
	height:7.37725830078125px;
	position:absolute;
	left:63.83152770996094px;
	top:24.59088134765625px;
}#e50_165 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:172.67254638671875px;
	height:7.377288818359375px;
	position:absolute;
	left:63.83152770996094px;
	top:36.886322021484375px;
}#e50_166 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:69.96920776367188px;
	height:7.37725830078125px;
	position:absolute;
	left:63.83152770996094px;
	top:49.1817626953125px;
}#e50_167 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:49.10113525390625px;
	height:7.37725830078125px;
	position:absolute;
	left:187.40309143066406px;
	top:24.59088134765625px;
}#e50_168 { 
	width:548.2966918945312px;
	height:259.02386474609375px;
	position:absolute;
	left:58.33210372924805px;
	top:203.69442749023438px;
}#e50_169 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.0936279296875px;
	height:13.1151123046875px;
	position:absolute;
	left:510.24310302734375px;
	top:199.18609619140625px;
}#e50_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.093597412109375px;
	height:13.1151123046875px;
	position:absolute;
	left:428.4077453613281px;
	top:60.247650146484375px;
}#e50_171 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.18353271484375px;
	height:8.19696044921875px;
	position:absolute;
	left:-0.000001296401023864746px;
	top:178.69369506835938px;
}#e50_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.18353271484375px;
	height:8.19696044921875px;
	position:absolute;
	left:540.1130981445312px;
	top:138.528564453125px;
}#e50_173 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:8.183547973632812px;
	height:8.19696044921875px;
	position:absolute;
	left:79.38031005859375px;
	top:50.411285400390625px;
}#e50_174 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.18353271484375px;
	height:8.196945190429688px;
	position:absolute;
	left:492.64862060546875px;
	top:28.279495239257812px;
}#e50_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.1834716796875px;
	height:8.196945190429688px;
	position:absolute;
	left:437.409912109375px;
	top:0px;
}#e50_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.18353271484375px;
	height:8.196929931640625px;
	position:absolute;
	left:17.185285568237305px;
	top:250.82693481445312px;
}#e50_177 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.275283813476562px;
	height:12.295425415039062px;
	position:absolute;
	left:101.88507080078125px;
	top:48.36204528808594px;
}#e50_179 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:70px;
	position:absolute;
	left:240px;
	top:226px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}