#e85_0 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}#e86_30 { 
	width:199.65928649902344px;
	height:228.6314697265625px;
	position:absolute;
	left:161px;
	top:352.6561279296875px;
}#e86_31 { 
	background-color:rgba(125.00000014901161, 227.00000166893005, 20.000000707805157, 1);
	width:137.90235900878906px;
	height:140.49899291992188px;
	position:absolute;
	left:30.878320693969727px;
	top:55.657535552978516px;
}#e86_32 { 
	background-color:rgba(125.00000014901161, 227.00000166893005, 20.000000707805157, 1);
	width:199.65928649902344px;
	height:228.6314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_34 { 
	background-color:rgba(94.0000019967556, 170.0000050663948, 15.000000055879354, 1);
	width:33.98744583129883px;
	height:41.557621002197266px;
	position:absolute;
	left:243.8388671875px;
	top:366.9495849609375px;
}#e86_35 { 
	width:66.42044067382812px;
	height:45.28427505493164px;
	position:absolute;
	left:226.2998046875px;
	top:451.40380859375px;
}#e86_36 { 
	background-color:rgba(94.0000019967556, 170.0000050663948, 15.000000055879354, 1);
	width:35.61838150024414px;
	height:45.28427505493164px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_37 { 
	background-color:rgba(94.0000019967556, 170.0000050663948, 15.000000055879354, 1);
	width:25.524974822998047px;
	height:42.606231689453125px;
	position:absolute;
	left:40.895469665527344px;
	top:1.9359372854232788px;
}#e86_38 { 
	width:390.3365173339844px;
	height:119.47818756103516px;
	position:absolute;
	left:259.66357421875px;
	top:231px;
}#e86_39 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:384.23175048828125px;
	height:101.3128433227539px;
	position:absolute;
	left:0px;
	top:18.16534423828125px;
}#e86_40 { 
	background-color:rgba(125.00000014901161, 227.00000166893005, 20.000000707805157, 1);
	width:12.436030387878418px;
	height:12.32532024383545px;
	position:absolute;
	left:374.6610107421875px;
	top:3.22650146484375px;
}#e86_41 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:18.947052001953125px;
	height:18.778369903564453px;
	position:absolute;
	left:371.38946533203125px;
	top:0px;
}#e86_44 { 
	width:199.65931701660156px;
	height:228.6314697265625px;
	position:absolute;
	left:450px;
	top:355.6561279296875px;
}#e86_45 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:137.90235900878906px;
	height:140.49899291992188px;
	position:absolute;
	left:30.878026962280273px;
	top:55.657535552978516px;
}#e86_46 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:199.65931701660156px;
	height:228.6314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_48 { 
	width:70.60803985595703px;
	height:45.28427505493164px;
	position:absolute;
	left:514.56396484375px;
	top:454.40380859375px;
}#e86_49 { 
	background-color:rgba(1.0000000591389835, 153.00000607967377, 116.00000068545341, 1);
	width:35.618385314941406px;
	height:45.28427505493164px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_50 { 
	background-color:rgba(1.0000000591389835, 153.00000607967377, 116.00000068545341, 1);
	width:30.41828727722168px;
	height:43.36446762084961px;
	position:absolute;
	left:40.189754486083984px;
	top:1.1776961088180542px;
}#e86_52 { 
	width:217.05410766601562px;
	height:119.46208190917969px;
	position:absolute;
	left:548.29541015625px;
	top:234px;
}#e86_53 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:209.6606903076172px;
	height:100.84500885009766px;
	position:absolute;
	left:0px;
	top:18.617067337036133px;
}#e86_54 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:11.719422340393066px;
	height:12.32532024383545px;
	position:absolute;
	left:202.26736450195312px;
	top:3.2265405654907227px;
}#e86_55 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:17.85523223876953px;
	height:18.762245178222656px;
	position:absolute;
	left:199.19886779785156px;
	top:-0.000005419266926764976px;
}#e86_58 { 
	width:199.65931701660156px;
	height:228.6314697265625px;
	position:absolute;
	left:737px;
	top:349.65606689453125px;
}#e86_59 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:137.90235900878906px;
	height:140.49899291992188px;
	position:absolute;
	left:30.87803840637207px;
	top:55.65753936767578px;
}#e86_60 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:199.65931701660156px;
	height:228.6314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_62 { 
	width:71.60427856445312px;
	height:55.480079650878906px;
	position:absolute;
	left:801.5634765625px;
	top:448.40380859375px;
}#e86_63 { 
	background-color:rgba(15.000000055879354, 120.00000044703484, 144.00000661611557, 1);
	width:35.60307693481445px;
	height:45.28427505493164px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_64 { 
	background-color:rgba(15.000000055879354, 120.00000044703484, 144.00000661611557, 1);
	width:31.92155647277832px;
	height:53.94746017456055px;
	position:absolute;
	left:39.68272399902344px;
	top:1.5326194763183594px;
}#e86_69 { 
	width:17.85518455505371px;
	height:119.47817993164062px;
	position:absolute;
	left:828.10205078125px;
	top:228px;
}#e86_70 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:3.0679056644439697px;
	height:100.86114501953125px;
	position:absolute;
	left:7.393206596374512px;
	top:18.617034912109375px;
}#e86_71 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:11.719375610351562px;
	height:12.32532024383545px;
	position:absolute;
	left:3.0677995681762695px;
	top:3.2264976501464844px;
}#e86_72 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:17.85518455505371px;
	height:18.762245178222656px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_75 { 
	width:199.6593475341797px;
	height:228.6314697265625px;
	position:absolute;
	left:1063.595703125px;
	top:352.6561279296875px;
}#e86_76 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:137.9023895263672px;
	height:140.49899291992188px;
	position:absolute;
	left:30.8779296875px;
	top:55.65753936767578px;
}#e86_77 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:199.6593475341797px;
	height:228.6314697265625px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_79 { 
	width:73.96719360351562px;
	height:54.02815246582031px;
	position:absolute;
	left:1125.935546875px;
	top:451.40380859375px;
}#e86_80 { 
	background-color:rgba(60.00000022351742, 67.00000360608101, 128.0000075697899, 1);
	width:35.61833953857422px;
	height:45.28427505493164px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_81 { 
	background-color:rgba(60.00000022351742, 67.00000360608101, 128.0000075697899, 1);
	width:34.68265151977539px;
	height:52.07609558105469px;
	position:absolute;
	left:39.284542083740234px;
	top:1.95205819606781px;
}#e86_90 { 
	width:286.04022216796875px;
	height:119.59111785888672px;
	position:absolute;
	left:878px;
	top:231px;
}#e86_91 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:276.27557373046875px;
	height:100.95793914794922px;
	position:absolute;
	left:9.764659881591797px;
	top:18.6331787109375px;
}#e86_92 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:15.445127487182617px;
	height:12.32532024383545px;
	position:absolute;
	left:4.043189525604248px;
	top:3.22650146484375px;
}#e86_93 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:23.53159523010254px;
	height:18.762245178222656px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_197 { 
	background-color:rgba(125.00000014901161, 227.00000166893005, 20.000000707805157, 1);
	width:187.8785400390625px;
	height:4.291283130645752px;
	position:absolute;
	left:153px;
	top:662px;
}#e86_284 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:187.87855529785156px;
	height:4.291283130645752px;
	position:absolute;
	left:454px;
	top:662px;
}#e86_373 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:187.87855529785156px;
	height:4.291283130645752px;
	position:absolute;
	left:749px;
	top:658px;
}#e86_461 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:187.87852478027344px;
	height:4.291283130645752px;
	position:absolute;
	left:1089px;
	top:649px;
}#e86_553 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:391px;
	height:90.14908599853516px;
	position:absolute;
	left:541px;
	top:144px;
}#e86_1 { 
	background-image:linear-gradient(0deg, rgba(116.8750025331974, 111.90781027078629, 111.90781027078629, 1) 0%,rgba(198.31120669841766, 196.27258569002151, 196.27258569002151, 1) 55.83333969116211%,rgba(255, 255, 255, 1) 100%) ;
	width:390.7305603027344px;
	height:90px;
	position:absolute;
	left:0.26944395899772644px;
	top:0px;
}#e86_3 { 
	background-image:linear-gradient(0deg, rgba(149.81249392032623, 149.0634173154831, 149.0634173154831, 1) 0%,rgba(199.75000709295273, 191.260624229908, 191.260624229908, 1) 37.38999962806702%,rgba(215.20354986190796, 211.0510566830635, 211.0510566830635, 1) 69.37500834465027%,rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1) 100%) ;
	width:389.988525390625px;
	height:90.14908599853516px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:378.2115783691406px;
	height:79.3079605102539px;
	position:absolute;
	left:5.888159275054932px;
	top:5.404449462890625px;
}#e86_552 { 
	color:rgba(0, 0, 0, 1);
	width:319.8963623046875px;
	height:52px;
	position:absolute;
	left:33.40156555175781px;
	top:19px;
	font-family:Lustria;
	text-align:center;
	font-size:38px;
	letter-spacing:0;
}#e86_564 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:149px;
	top:599px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_566 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:757px;
	top:609px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_567 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:1072px;
	top:609px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_565 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:451px;
	top:599px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_569 { 
	width:100px;
	height:100px;
	position:absolute;
	left:528px;
	top:580px;
}#e86_568 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:160px;
	position:absolute;
	left:150px;
	top:682px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_572 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:160px;
	position:absolute;
	left:713px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_573 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:160px;
	position:absolute;
	left:1027px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_570 { 
	color:rgba(0, 0, 0, 1);
	width:260px;
	height:160px;
	position:absolute;
	left:422px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_574 { 
	width:33.9900016784668px;
	height:41.70000076293945px;
	position:absolute;
	left:1148px;
	top:367px;
}#e86_575 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:25.509138107299805px;
	height:38.224998474121094px;
	position:absolute;
	left:4.24875020980835px;
	top:1.7374998331069946px;
}#e86_576 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:25.509138107299805px;
	height:38.224998474121094px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_577 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:25.509138107299805px;
	height:38.224998474121094px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_578 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:25.509138107299805px;
	height:38.224998474121094px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_579 { 
	width:25.509138107299805px;
	height:38.224998474121094px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_580 { 
	width:19.84379005432129px;
	height:30.930959701538086px;
	position:absolute;
	left:2.8324432373046875px;
	top:3.4750001430511475px;
}#e86_581 { 
	width:14.16249942779541px;
	height:13.89999771118164px;
	position:absolute;
	left:5.665055751800537px;
	top:13.90000057220459px;
}#e86_582 { 
	width:8.497501373291016px;
	height:6.950000762939453px;
	position:absolute;
	left:8.497499465942383px;
	top:17.375px;
}#e86_583 { 
	width:8.497501373291016px;
	height:8.687499046325684px;
	position:absolute;
	left:8.497499465942383px;
	top:5.212501049041748px;
}#e86_584 { 
	width:2.8325023651123047px;
	height:3.4750003814697266px;
	position:absolute;
	left:11.329944610595703px;
	top:19.11250114440918px;
}#e86_585 { 
	width:39px;
	height:46px;
	position:absolute;
	left:816px;
	top:362px;
}#e86_586 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:29.249996185302734px;
	height:42.794517517089844px;
	position:absolute;
	left:4.874968528747559px;
	top:1.9166651964187622px;
}#e86_587 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:29.2499942779541px;
	height:42.794517517089844px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_588 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:29.2499942779541px;
	height:42.794517517089844px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_589 { 
	width:29.249996185302734px;
	height:42.794517517089844px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_590 { 
	width:22.750001907348633px;
	height:33.8548583984375px;
	position:absolute;
	left:3.2499284744262695px;
	top:3.833334445953369px;
}#e86_591 { 
	width:16.25px;
	height:19.166667938232422px;
	position:absolute;
	left:6.500078201293945px;
	top:7.666665077209473px;
}#e86_592 { 
	width:9.750001907348633px;
	height:11.500003814697266px;
	position:absolute;
	left:9.750006675720215px;
	top:11.499999046325684px;
}#e86_593 { 
	width:42px;
	height:41px;
	position:absolute;
	left:529px;
	top:370px;
}#e86_594 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:37.474876403808594px;
	height:35.3746452331543px;
	position:absolute;
	left:2.2625975608825684px;
	top:2.2086915969848633px;
}#e86_595 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:35.00000762939453px;
	height:34.16666793823242px;
	position:absolute;
	left:1.237398386001587px;
	top:1.2079758644104004px;
}#e86_596 { 
	width:35.00000762939453px;
	height:34.16666793823242px;
	position:absolute;
	left:0px;
	top:0px;
}#e86_597 { 
	width:27.99999237060547px;
	height:27.333328247070312px;
	position:absolute;
	left:3.500019073486328px;
	top:3.4166674613952637px;
}#e86_598 { 
	width:10.499990463256836px;
	height:11.958333015441895px;
	position:absolute;
	left:16.98736572265625px;
	top:8.041309356689453px;
}#e86_599 { 
	width:8.599868774414062px;
	height:8.395115852355957px;
	position:absolute;
	left:28.87501335144043px;
	top:0px;
}#e86_600 { 
	width:8.599874496459961px;
	height:8.395115852355957px;
	position:absolute;
	left:0px;
	top:0px;
}