#e85_0 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}#e86_197 { 
	background-color:rgba(125.00000014901161, 227.00000166893005, 20.000000707805157, 1);
	width:187.8785400390625px;
	height:4.291283130645752px;
	position:absolute;
	left:153px;
	top:662px;
}#e86_284 { 
	background-color:rgba(1.0000000591389835, 204.00000303983688, 155.00000596046448, 1);
	width:187.87855529785156px;
	height:4.291283130645752px;
	position:absolute;
	left:454px;
	top:662px;
}#e86_373 { 
	background-color:rgba(20.000000707805157, 160.00000566244125, 192.00000375509262, 1);
	width:187.87855529785156px;
	height:4.291283130645752px;
	position:absolute;
	left:749px;
	top:658px;
}#e86_461 { 
	background-color:rgba(80.00000283122063, 89.00000229477882, 171.00000500679016, 1);
	width:187.87852478027344px;
	height:4.291283130645752px;
	position:absolute;
	left:1089px;
	top:649px;
}#e86_564 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:149px;
	top:599px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_566 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:757px;
	top:609px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_567 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:1072px;
	top:609px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_565 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:42px;
	position:absolute;
	left:451px;
	top:599px;
	font-family:Lustria;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}#e86_568 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:160px;
	position:absolute;
	left:150px;
	top:682px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_572 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:160px;
	position:absolute;
	left:713px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_573 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:160px;
	position:absolute;
	left:1027px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e86_570 { 
	color:rgba(0, 0, 0, 1);
	width:260px;
	height:160px;
	position:absolute;
	left:422px;
	top:678px;
	font-family:Lustria;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}#e89_2 { 
	width:1103px;
	height:536px;
	position:absolute;
	left:163px;
	top:146px;
	background-image:url(images/egroup_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}