#e5_4 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}#e57_651 { 
	width:736px;
	height:731px;
	position:absolute;
	left:0px;
	top:168px;
	background-image:url(images/e3026238_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e16_0 { 
	color:rgba(0, 0, 0, 1);
	width:622px;
	height:263px;
	position:absolute;
	left:751px;
	top:139px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}#e57_655 { 
	background-color:rgba(1.0000000591389835, 89.00000229477882, 75.00000312924385, 1);
	width:208px;
	height:98px;
	position:absolute;
	left:1112px;
	top:804px;
	border-radius:1683px;
}#e57_658 { 
	background-color:rgba(1.0000000591389835, 89.00000229477882, 75.00000312924385, 1);
	width:198px;
	height:98px;
	position:absolute;
	left:753px;
	top:809px;
	border-radius:1683px;
}#e57_659 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:19px;
	position:absolute;
	left:782px;
	top:828px;
	font-family:PT Serif;
	text-align:center;
	font-size:35.5871696472168px;
	letter-spacing:0;
}#e57_660 { 
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:48px;
	position:absolute;
	left:1138px;
	top:829px;
	font-family:PT Serif;
	text-align:center;
	font-size:35.5871696472168px;
	letter-spacing:0;
}#e57_661 { 
	color:rgba(0, 0, 0, 1);
	width:626px;
	height:232px;
	position:absolute;
	left:751px;
	top:446px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}